@tailwind base;
@tailwind components;
@tailwind utilities;

/* Note: You will need to add the actual font files to src/assets/fonts */
@font-face {
    font-family: 'CocogoosePra Trial';
    src: local('CocogoosePra Trial'), local('CocogoosePra-Trial');
    font-weight: bold;
    font-style: normal;
}